.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  text-align: center;
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  display: flex;
  flex-direction: column;
  font-size: rem(50px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}
.text {
  font-size: rem(80px);
}
